#map { 
  height: 450px;
  margin: 35px;
}

.leaflet-bottom {
  display: none;
}

.header {
  text-align: center;
  margin-bottom: -15px;
}

.mantine-Image-figure {
  height: 400px;
}
.mantine-Image-imageWrapper {
  height: 400px;
  margin: 20px;
}

.mantine-goz9ys {
  margin: 20px;
}

.image-slider {
  margin-top: 30px;
  height: 400px;
  width: 100%;
}


.martine-Image-image .mantine-3y8yz3 {
  width: 100%;
  /* border-radius: 30px; */
}

.CampDetails {
  margin: 45px;
}
.boldText {
  text-decoration: red;
  font-weight: bold;
}